.portfolio {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.container__portfolio {
  margin-left: -30px;
  margin-bottom: -30px;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
