.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
  }
}

.header__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.header__link {
  display: flex;
  align-items: center;
  @include fontmax(500, 14px, 1.14, 0.02em);
  color: var(--second-text-color);

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill var(--transition);

  .header__link:hover &,
  .header__link:focus & {
    fill: var(--accent-color);
  }
}
