.team {
  background-color: var(--second-decor-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;

  border-radius: 0px 0px 4px 4px;

  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;

  @include fontmax(500, 16px, 1.19, 0.03em);
  text-align: center;
  color: var(--primary-text-color);
}

.team__position {
  margin-bottom: 16px;

  @include fontmin(16px, 1.19, 0.03em);
  text-align: center;

  color: var(--second-text-color);
}
