.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @include fontmax(700, 16px, 1.87, 0.06em);
  text-align: center;

  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
