.card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  transition: box-shadow var(--transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  @include fontmin(18px, 1.56, 0.03em);
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translate(0, 100%);
  transition: transform var(--transition);

  .card:hover &,
  .card:focus & {
    transform: translate(0, 0);
  }
}

.card__wrapper {
  width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;

  @include fontmin(18px, 2, 0.06em);
  color: var(--primary-text-color);
}

.card__subtitle {
  @include fontmin(16px, 1.87, 0.03em);

  color: var(--second-text-color);
}
