.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;

  @include fontmin(36px, 1.17, 0.03em);
  text-align: center;
  color: var(--primary-text-color);
}
