.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-text-color);
  @include fontmin(28px, 1.17, 0.03em);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include fontmin(36px, 1.17, 0.03em);
  }
}
