// light theme

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: var(--primary-icon-color);
  transition: fill var(--transition);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--third-text-color);
  }
}

// Dark theme

.social-list__link--theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon--theme-dark {
  fill: var(--third-text-color);
}

.social-list__link--theme-dark:hover .social-list__icon--theme-darkn,
.social-list__link--theme-dark:focus .social-list__icon--theme-dark {
  fill: var(--third-text-color);
}
