p,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
